*{
  margin: 10px;
  font: 14pt sans-serif;
   border-radius: 8px; 
}
div{
 padding: 20px;
  margin-left: 150px;
  margin-right: 150px;
  display: block;
  background: #e6f2ff;
}
input[for="popup"]+div{
cursor: pointer;
text-decoration: underline;
color: blue; 
}
input[name="popup"]{
display: none;
}
input[name="popup"]+div{
display: none;
}
input[name="popup"]:checked+div{
display: block;
}
.popup{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0,0,0, 0.7);
  width:100%;
  height: 100%;
}
.popup > div{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width:400px;
  height: 200px;
position: absolute;
  margin: auto;
  background-color: white;
}